{% extends "base.html" %}
{% block title %}Профиль {{ user.username }}{% endblock %}

{% block content %}

<div class="container" style="margin-top:60px;">
  
  <div class="row">
    <div class="col-sm">
      <h3 class="text-center">Питательные вещества</h3>
      <nav>
        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-one-day" type="button" role="tab" aria-controls="nav-home" aria-selected="true">1 день</button>
          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-seven-days" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">7 дней</button>
          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-all-days" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Все время</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-one-day" role="tabpanel" aria-labelledby="nav-home-tab">
          <canvas id="UserChartToday"></canvas>
        </div>
        <div class="tab-pane fade" id="nav-seven-days" role="tabpanel" aria-labelledby="nav-profile-tab">
          <canvas id="UserChartSevenDays"></canvas>
        </div>
        <div class="tab-pane fade" id="nav-all-days" role="tabpanel" aria-labelledby="nav-profile-tab">
          <canvas id="UserChartAllDays"></canvas>
        </div>
      </div>
        
    </div>
    <div class="col-sm">
      <h3 class="text-center">Килокалорий добавлено/убавлено</h3>
      <nav>
        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-one-day-calories-stat" type="button" role="tab" aria-controls="nav-home" aria-selected="true">1 день</button>
          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-seven-days-calories-stat" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">7 дней</button>
          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-all-days-calories-stat" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Все время</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-one-day-calories-stat" role="tabpanel" aria-labelledby="nav-home-tab">
          <p>Килокалорий добавлено: {{ today_added_calories_stat }}</p>
          <p>Килокалорий убавлено: {{ today_removed_calories_stat }}</p>
        </div>
        <div class="tab-pane fade" id="nav-seven-days-calories-stat" role="tabpanel" aria-labelledby="nav-profile-tab">
          <p>Килокалорий добавлено: {{ seven_days_added_calories_stat }}</p>
          <p>Килокалорий убавлено: {{ seven_days_removed_calories_stat }}</p>
        </div>
        <div class="tab-pane fade" id="nav-all-days-calories-stat" role="tabpanel" aria-labelledby="nav-profile-tab">
          <p>Килокалорий добавлено: {{ all_days_added_calories_stat }}</p>
          <p>Килокалорий убавлено: {{ all_days_removed_calories_stat }}</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      Одна из трёх колонок
    </div>
  </div>
</div>

  
{% comment %} SCRIPTS {% endcomment %}
<script>
  var ctx = document.getElementById('UserChartToday').getContext('2d');
  var myChart = new Chart(ctx, {
  type: 'doughnut',
  data: {
      labels: ['Белки', 'Жиры', 'Углеводы'],
      datasets: [{
          data: [
            {{ today_user_proteins }},
            {{ today_user_fats }},
            {{ today_user_carbohydrates }},
          ],
          backgroundColor: ['#e91e63', '#00e676', '#ff5722'],
          borderWidth: 0.5 ,
          borderColor: '#ddd'
      }]
  },
  options: {
      title: {
          display: true,
          text: 'Recommended Daily Diet',
          position: 'top',
          fontSize: 16,
          fontColor: '#111',
          padding: 20
      },
      legend: {
        display: true,
        position: 'bottom',
        labels: {
            boxWidth: 20,
            fontColor: '#111',
            padding: 15
        }
    },
      tooltips: {
          enabled: false
      },
      plugins: {
          datalabels: {
              color: '#111',
              textAlign: 'center',
              font: {
                  lineHeight: 1.6
              },
              formatter: function(value, ctx) {
                  return ctx.chart.data.labels[ctx.dataIndex] + '\n' + value + '%';
              }
              }
          }
      }
  });
</script>

<script>
  var ctx = document.getElementById('UserChartSevenDays').getContext('2d');
  var myChart = new Chart(ctx, {
  type: 'doughnut',
  data: {
      labels: ['Белки', 'Жиры', 'Углеводы'],
      datasets: [{
          data: [
            {{ seven_days_user_proteins }},
            {{ seven_days_user_fats }},
            {{ seven_days_user_carbohydrates }},
          ],
          backgroundColor: ['#e91e63', '#00e676', '#ff5722'],
          borderWidth: 0.5 ,
          borderColor: '#ddd'
      }]
  },
  options: {
      title: {
          display: true,
          text: 'Recommended Daily Diet',
          position: 'top',
          fontSize: 16,
          fontColor: '#111',
          padding: 20
      },
      legend: {
        display: true,
        position: 'bottom',
        labels: {
            boxWidth: 20,
            fontColor: '#111',
            padding: 15
        }
    },
      tooltips: {
          enabled: false
      },
      plugins: {
          datalabels: {
              color: '#111',
              textAlign: 'center',
              font: {
                  lineHeight: 1.6
              },
              formatter: function(value, ctx) {
                  return ctx.chart.data.labels[ctx.dataIndex] + '\n' + value + '%';
              }
              }
          }
      }
  });
</script>

<script>
  var ctx = document.getElementById('UserChartAllDays').getContext('2d');
  var myChart = new Chart(ctx, {
  type: 'doughnut',
  data: {
      labels: ['Белки', 'Жиры', 'Углеводы'],
      datasets: [{
          data: [
            {{ all_days_user_proteins }},
            {{ all_days_user_fats }},
            {{ all_days_user_carbohydrates }},
          ],
          backgroundColor: ['#e91e63', '#00e676', '#ff5722'],
          borderWidth: 0.5 ,
          borderColor: '#ddd'
      }]
  },
  options: {
      title: {
          display: true,
          text: 'Recommended Daily Diet',
          position: 'top',
          fontSize: 16,
          fontColor: '#111',
          padding: 20
      },
      legend: {
        display: true,
        position: 'bottom',
        labels: {
            boxWidth: 20,
            fontColor: '#111',
            padding: 15
        }
    },
      tooltips: {
          enabled: false
      },
      plugins: {
          datalabels: {
              color: '#111',
              textAlign: 'center',
              font: {
                  lineHeight: 1.6
              },
              formatter: function(value, ctx) {
                  return ctx.chart.data.labels[ctx.dataIndex] + '\n' + value + '%';
              }
              }
          }
      }
  });
</script>
{% comment %}  {% endcomment %}
{% endblock %}
