{% extends 'base.html' %}
{% block title %} Добавляем каллории {% endblock title %}
{% block content %}


<div class="custom_card">
  <h2 style="text-align: center; margin-bottom: 0px;">Каллорий за сегодня: 1000</h2>
  <p style="text-align: center; margin-bottom: 30px;"></i>(Для вашего веса это норма)</i></p>
    <div class="inner_card">
      <div class="row">
        <div class="col">
          <h2 class="title_card">
            Завтрак
          </h2>
        </div>
        <div class="col">
          <div class="float-end">
            <button type="button" class="btn btn-success">Добавить</button>
          </div>
        </div>
      </div>
      <hr class="custom_hr"></hr>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Наименование</th>
            <th scope="col">Белки</th>
            <th scope="col">Жиры</th>
            <th scope="col">Углеводы</th>
            <th scope="col">Ккал</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>del</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="inner_card">
      <div class="row">
        <div class="col">
          <h2 class="title_card">
            Обед
          </h2>
        </div>
        <div class="col">
          <div class="float-end">
            <button type="button" class="btn btn-success">Добавить</button>
          </div>
        </div>
      </div>
      <hr class="custom_hr"></hr>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Наименование</th>
            <th scope="col">Белки</th>
            <th scope="col">Жиры</th>
            <th scope="col">Углеводы</th>
            <th scope="col">Ккал</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="inner_card">
      <div class="row">
        <div class="col">
          <h2 class="title_card">
            Ужин
          </h2>
        </div>
        <div class="col">
          <div class="float-end">
            <button type="button" class="btn btn-success">Добавить</button>
          </div>
        </div>
      </div>
      <hr class="custom_hr"></hr>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Наименование</th>
            <th scope="col">Белки</th>
            <th scope="col">Жиры</th>
            <th scope="col">Углеводы</th>
            <th scope="col">Ккал</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="inner_card">
      <div class="row">
        <div class="col">
          <h2 class="title_card">
            Перекусы
          </h2>
        </div>
        <div class="col">
          <div class="float-end">
            <button type="button" class="btn btn-success">Добавить</button>
          </div>
        </div>
      </div>
      <hr class="custom_hr"></hr>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Наименование</th>
            <th scope="col">Белки</th>
            <th scope="col">Жиры</th>
            <th scope="col">Углеводы</th>
            <th scope="col">Ккал</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
{% endblock content %}