{% extends 'base.html' %}
{% block title %} Добавляем калории {% endblock title %}
{% block content %}
{% comment %}  {% endcomment %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  </script>  
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>  
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />
<script>
  
  $( function() {
    var availableProducts = [
      {% for p in products %}
          "{{p.name}}",
      {% endfor %}
    ];
    $( "#id_query" ).autocomplete({
      source: availableProducts,
      minLength: 2,
      delay: 500,
    });
  } );
</script>
{% comment %}  {% endcomment %}
<div class="custom_card">
  <h2 style="text-align: center; margin-bottom: 30px;">Здесь вы можете добавить прием пищи</h2>
  <h3 style="text-align: center; margin-bottom: 0px;">Каллорий за сегодня: {{ calories_for_user }}</h2>
  <div class="w-auto p-3">
    <div class="d-grid gap-2">
      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modal-breakfast">Добавить</button>
    </div>
  </div>

    <div class="inner_card">
      <div class="row">
        <div class="col">
          <h2 class="title_card">
            Завтрак
          </h2>
        </div>
      </div>
      <hr class="custom_hr"></hr>
        {% if breakfast %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Наименование</th>
                <th scope="col">Белки</th>
                <th scope="col">Жиры</th>
                <th scope="col">Углеводы</th>
                <th scope="col">Ккал</th>
                <th scope="col">Граммы</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for product in breakfast %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ product.product.name }}</td>
                  <td>{{ product.product.proteins }}</td>
                  <td>{{ product.product.fats }}</td>
                  <td>{{ product.product.carbohydrates }}</td>
                  <td>{{ product.product.calories }}</td>
                  <td>{{ product.amount }}</td>
                  <td><a
                    class="btn btn-light"
                    href="{% url 'calories:delete_created_calories' product.id %}"
                    role="button"
                  >
                    Удалить
                  </a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
        <p>Здесь пока что пусто</p>
        {% endif %}
    </div>
    <div class="inner_card">
      <div class="row">
        <div class="col">
          <h2 class="title_card">
            Обед
          </h2>
        </div>
      </div>
      <hr class="custom_hr"></hr>
      {% if lunch %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Наименование</th>
                <th scope="col">Белки</th>
                <th scope="col">Жиры</th>
                <th scope="col">Углеводы</th>
                <th scope="col">Ккал</th>
                <th scope="col">Граммы</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for product in lunch %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ product.product.name }}</td>
                  <td>{{ product.product.proteins }}</td>
                  <td>{{ product.product.fats }}</td>
                  <td>{{ product.product.carbohydrates }}</td>
                  <td>{{ product.product.calories }}</td>
                  <td>{{ product.amount }}</td>
                  <td><a
                    class="btn btn-light"
                    href="{% url 'calories:delete_created_calories' product.id %}"
                    role="button"
                  >
                    Удалить
                  </a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
        <p>Здесь пока что пусто</p>
        {% endif %}
    </div>
    <div class="inner_card">
      <div class="row">
        <div class="col">
          <h2 class="title_card">
            Ужин
          </h2>
        </div>
        
      </div>
      <hr class="custom_hr"></hr>
      {% if dinner %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Наименование</th>
                <th scope="col">Белки</th>
                <th scope="col">Жиры</th>
                <th scope="col">Углеводы</th>
                <th scope="col">Ккал</th>
                <th scope="col">Граммы</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for product in dinner %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ product.product.name }}</td>
                  <td>{{ product.product.proteins }}</td>
                  <td>{{ product.product.fats }}</td>
                  <td>{{ product.product.carbohydrates }}</td>
                  <td>{{ product.product.calories }}</td>
                  <td>{{ product.amount }}</td>
                  <td><a
                    class="btn btn-light"
                    href="{% url 'calories:delete_created_calories' product.id %}"
                    role="button"
                  >
                    Удалить
                  </a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
        <p>Здесь пока что пусто</p>
        {% endif %}
    </div>

    <div class="inner_card">
      <div class="row">
        <div class="col">
          <h2 class="title_card">
            Перекусы
          </h2>
        </div>
        
      </div>
      <hr class="custom_hr"></hr>
      {% if snack %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Наименование</th>
                <th scope="col">Белки</th>
                <th scope="col">Жиры</th>
                <th scope="col">Углеводы</th>
                <th scope="col">Ккал</th>
                <th scope="col">Граммы</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for product in snack %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ product.product.name }}</td>
                  <td>{{ product.product.proteins }}</td>
                  <td>{{ product.product.fats }}</td>
                  <td>{{ product.product.carbohydrates }}</td>
                  <td>{{ product.product.calories }}</td>
                  <td>{{ product.amount }}</td>
                  <td><a
                    class="btn btn-light"
                    href="{% url 'calories:delete_created_calories' product.id %}"
                    role="button"
                  >
                    Удалить
                  </a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>Здесь пока что пусто</p>
        {% endif %}
    </div>
</div>


<!-- Модальное окно с добавлением-->
<div class="modal fade" id="modal-breakfast" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Добавить каллории</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'calories:create_calories' %}">  
          {% csrf_token %}
          {% for field in form %}
            {% if field.label == 'Type' %}
            {% else %}           
              <div class="form-group row my-3 p-3">
                <label for="{{ field.id_for_label }}">
                  {{ field.label }}
                  {% if field.field.required %}                  
                    <span class="required text-danger" >*</span>
                  {% endif %}                  
                </label>
                {{ field }}
                {% if field.help_text %}       
                  <small id="id_text-help" class="form-text text-muted">
                    {{ field.help_text }}
                  </small>
                {% endif %}             
              </div>
            {% endif %}  
            {% endfor %} 
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
              <button type="submit" class="btn btn-primary">Добавить</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>



{% endblock content %}